<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles.css">
  <title>Stanley Kubrick</title>
  {% load static %}
</head>
<body class="content">
  <h1 class="title">Stanley Kubrick</h1>
  <div class="marco-img">
    <img class="photo" src="{% static 'assets/stanley-kubrick.jpg' %}" alt="stanley-kubrick">
  </div>
  {% block content %}
  
  <p class="texto">{{biography}}</p>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>FILMS</th>
    </tr>
    {% for x in filmography %}
      {% if x.id > 15 and x.id < 24 %}
      <tr>
        <td>{{x.id}}</td>
        <td>{{x.filmName}}</td>
      </tr>
      {% endif %}
      {% endfor %}
  </table><br>

  {% endblock %}

</body>
</html>